@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

<table class="table">
    <thead>
        <tr class="text-center">
            <th>STT</th>
            <th>Ảnh sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá</th>
            <th style="width:100px;">Số lượng</th>
            <th>Thành tiền</th>
            <th style="width:200px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = 0;
            var totalPrice = decimal.Zero;
            foreach (var item in Model)
            {
                totalPrice += item.TotalPrice;
                <tr class="text-center" id="trow_@item.ProductId">
                    <td>@(i + 1)</td>
                    <td><img src="@item.ProductImg" width="60" alt="@item.ProductName" /></td>
                    <td><a href="/chi-tiet/@item.Alias-p@(item.ProductId)">@item.ProductName</a></td>
                    <td>@item.CategoryName</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                    <td><input type="number" class="form-control quantity-input" id="Quantity_@item.ProductId" value="@item.Quantity" min="1" /></td>
                    <td>@Common.FormatNumber(item.TotalPrice, 2)</td>
                    <td>
                        <button type="button" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</button>
                        <button type="button" data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate">Cập nhật</button>
                    </td>
                </tr>
                i++;
            }
            <tr>
                <th colspan="6" class="text-right">Tổng: </th>
                <th class="text-center">@Common.FormatNumber(totalPrice, 0)</th>
                <th></th>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">Không có sản phẩm trong giỏ hàng!!</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("Delete", "ShoppingCart")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.Success) {
                            $('#trow_' + id).remove();
                            // Update tổng tiền, số lượng sản phẩm...
                            updateTotalPrice();
                        } else {
                            alert('Xóa sản phẩm thất bại!');
                        }
                    },
                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại!');
                    }
                });
            });

            $('.btnUpdate').click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var quantity = $('#Quantity_' + id).val();

                if (quantity <= 0) {
                    alert('Số lượng phải lớn hơn 0.');
                    $('#Quantity_' + id).val(1);
                    return;
                }

                $.ajax({
                    url: '@Url.Action("Update", "ShoppingCart")',
                    type: 'POST',
                    data: { id: id, quantity: quantity },
                    success: function (response) {
                        if (response.Success) {
                            updateTotalPrice();
                        } else {
                            alert('Cập nhật số lượng thất bại!');
                        }
                    },
                    error: function () {
                        alert('Có lỗi xảy ra. Vui lòng thử lại!');
                    }
                });
            });

            function updateTotalPrice() {
                $.ajax({
                    url: '@Url.Action("GetCartTotal", "ShoppingCart")',
                    type: 'GET',
                    success: function (response) {
                        if (response.Success) {
                            $('th.text-center').text(response.TotalPrice);
                        }
                    }
                });
            }
        });
    </script>
}
